# bbang-hyeong
crosswalk-traffic-light-detection-yolov5-master/

# dataset
# it's size is too big ;(
data/car_pedestrian/
data/cross/

# output video
# it's size is too big ;(
test-video/

submit/

detect_crosswalk/
.DS_Store
